/* es overrides */

/* extra space for word list to fit on page */
.whos-on-first-step2-table {
	width: 106%;
	margin-left: -1em;
}

/* shrink text to allow rules to fit on page */
.memory-rules p {
    font-size: 0.9em;
}

/* increase header size to make all headers use two lines */
.wire-sequence table .header {
	font-size: 1.05em;
}