/* ru overrides */

q {
	quotes: "«" "»" "‹" "›";
}

.page-content {
    margin: 0 7.5% 0;
}

.whos-on-first-step2-table {
	width: 110%;
	margin-left: -5%;
}

.whos-on-first-step2-table td {
    font-size: .70em;
}

#vennlegendtable {
    width: 20em;
}

.wire-sequence td {
    height: 2.8em;
}

.wire-sequence th.header {
    height: 2.8em;
    vertical-align:bottom;
    
}

#TheButton ul {
    width: 40em;
}